#header{
    height: 50px;
    background: palegoldenrod ;
}

#nav li{
    background-color: plum;
    width: 90px;
    margin-right: 5px;
    float: left;
}

#nav a{
    font-size: 15px;
    font-family: '微软雅黑';
    color: slateblue;
    display: block;
    width: 90px;
    height: 20px;
    text-align: center;
}
#nav a:hover{
    color: seashell;
    background-color: skyblue;
}
#main{

}
#lside{
    height: 600px;
    width: 695px;
    border: 1px solid seashell;
}
#rside{
    height: 600px;
    width: ;
}