#container{
    width: 1020px;
}
.clr{
    clear: both;
    width: 0px;
    height: 0px;
}

#header{
    height: 50px;
    background: palegoldenrod ;
}

#nav li{
    background-color: plum;
    width: 90px;
    margin-right: 5px;
    float: left;
}

#nav a{
    font-size: 15px;
    font-family: '微软雅黑';
    color: slateblue;
    display: block;
    width: 90px;
    height: 20px;
    text-align: center;
}
#nav a:hover{
    color: seashell;
    background-color: skyblue;
}
#main{

}
#lside{
    height: 600px;
    width: 695px;
    border: 3px solid seashell;
    float: left;
}
.subtitle{
    height: 17px;
    background-color: steelblue;

}
.four{
    width: 300px;
    height: 200px;
    float: left;
    margin: 5px,5px,5px,0px;
    background-color: teal;
}







#rside{
    height: 600px;
    width: 294px;
    float: right;
}
#footer{
    height: 80px;
    background-color: slateblue;
}