@import url(https://fonts.googleapis.com/css?family=Anonyous+Pro);
html,body{
    height: 100%;
}

body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    font-family: monospace;
    color: whitesmoke;

}
.line{
    width: 674px;
    border-right: 2px solid #eee;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes grow{
    from{
        width: 0;

    }
    to{
        width: 674px;
    }
}

@keyframes blink{
    from{
        border-right-color:#eee ;
    }
    to{
        border-right-color:transparent ;
    }
}